body {
    background-image: url('../public/Background.png');
    /* background:  -webkit-linear-gradient(#121d2b, #041d35, rgb(4, 11, 44)); */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;  /* Do not repeat the image */
    background-attachment: fixed;
    color: white;
}
.main{
    margin-top: 10%;
}

