.iconStadium{
    fill: white;
    width: 30pt;
    height: 30pt;
}
.active{
    fill: green;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }