body {
    background-image: url('https://as00.epimg.net/futbol/imagenes/2017/09/11/champions/1505106380_965517_1505107263_noticia_normal.jpg');
    background-size: cover; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;  /* Do not repeat the image */
    color: white;
}

.cardImage{
    width: 100%;
    height: 100%;
}